.wrap { 
    padding: 8px 20px;
    width: 164px;
    box-shadow: 0 4px 8px 0 rgba(158, 187, 255, 0.12);
    border: 1px solid var(--very-light-blue);
    border-radius: 10px;
}

.title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 1;
}

.description {
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
    color: var(--blue)
}