.title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: var(--black);
  padding-top: 24px;
}

.upload_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0 24px 0;
}

.upload {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: var(--blue);
  cursor: pointer;

  & p {
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    & svg {
      fill: var(--orange);
    }
    & p {
      color: var(--orange);
    }
  }
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--very-light-blue);
  background-size: cover;
  background-repeat: no-repeat;
}

.desc {
  font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: var(--blue);
}

.desc:hover,
.desc.focus {
  color: var(--orange);
}

