.form_container {
  @media screen and (min-width: 768px) {
    display: inline-block;
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    gap: 24px;
  }
}

.title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: var(--black);
  padding-bottom: 12px;
}

.titleForm {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: var(--black);
  padding-bottom: 8px;
}


.gender_wrapper {
  display: flex;
  gap: 24px;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .gender_wrapper {
    padding-bottom: 52px;
  }
}

.radio_wrapper {
  input {
    display: none;
    & + span {
      display: inline-block;
      position: relative;
      padding-left: 20px;
      cursor: pointer;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 1px;
        left: 0px;
        border-radius: 50%;
        margin-right: 5px;
        width: 14px;
        height: 14px;
        border: 1px solid var(--blue);
        background: var(--white);
      }

      &:after {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background: var(--blue);
        position: absolute;
        border-radius: 50%;
        top: 5px;
        left: 4px;
        opacity: 0;
        transform: scale(0, 0);
        transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
      }
    }

    &:checked + span:after {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
}

.eye_button {
  position: absolute;
  right: 13px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  fill: var(--white);

  svg {
    display: block;
    width: 16px;
    height: 16px;
    stroke: var(--blue);
  }
}

.input {
  border: 1px solid var(--air-force-blue);
  border-radius: 6px;
  padding: 12px 10px;
  width: 256px;
  height: 44px;

  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.25;
  color: var(--blue);
  margin-bottom: 24px;
}

.input:focus {
  outline: 1px solid var(--air-force-blue);
}

.input::placeholder {
  color: var(--air-force-blue);
}

/* form password */

.form_text {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.25;
  color: var(--black);
  padding-bottom: 8px;
}

.password_wrapper {
  position: relative;
}

.inputPasw {
  border: 1px solid var(--air-force-blue);
  border-radius: 6px;
  padding: 12px 10px;
  width: 256px;
  height: 44px;


  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.25;
  color: var(--blue);
  margin-bottom: 12px;
}

.inputPasw:focus {
  outline: 1px solid var(--air-force-blue);
}

.inputPasw::placeholder {
  color: var(--air-force-blue);
}

.button {
  margin-top: 12px;
  width: 256px;
  height: 36px;
  padding: 8px 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  border: none;
  color: var(--white);
  background: var(--blue);
  box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34);
  border-radius: 10px;
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover {
    box-shadow: 0px 4px 14px 0px rgba(64, 123, 255, 0.54);
  }

  &:focus {
    outline: 1px solid var(--blue);
  }

  &:active {
    box-shadow: none;
  }

  @media screen and (min-width: 768px) {
    width: 160px;
    height: 44px;
    padding: 10px 30px;
    margin-left: auto;
  }

  @media screen and (min-width: 1440px) {
    float: right;
  }
}


@media screen and (min-width: 768px) {

  .input {
    width: 392px;
  }
  
  .inputPasw {
    width: 392px;
  }

  .flexbtn {
    display: flex;
  }
}
