.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    height: 90px;
}

.title {
    color: var(--blue);
    font-family: var(--primary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33;
}

.progressBarConteiner {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.progressBar {
    width: 95%;
    height: 8px;
    margin: 0 auto;
    background-color: var(--air-force-blue);
    border-radius: 10px;
}

.progress {
    height: 100%;
    background-color: var(--light-blue);
    border-radius: 10px;
    position: relative;
}

.progress::after{
    content: '';
    position: absolute;
    right: 0;
    top: -3px;
    width: 14px;
    height: 14px;
    background-color: var(--white);
    border-radius: 50%;
    border: 1px solid var(--blue);
}

.percent_bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.percent_num {
    position: relative;
    color: var(--blue);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33;
}

.percent_num_current{
    position: relative;
    color: var(--blue);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.33;
}

.percent_num::before{
    content: '';
    position: absolute;
    right: 10px;
    top: -16px;
    width: 1px;
    height: 8px;
    background: var(--air-force-blue);
}

.percent_num_current::before {
    content: '';
    position: absolute;
    right: 10px;
    top: -16px;
    width: 1px;
    height: 8px;
    background: var(--air-force-blue);
}

.button {
    border: none;
    border-radius: 10px;
    padding: 8px 30px;
    width: 100%;
    height: 36px;
    box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
    background: var(--blue);

    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.25;
    text-align: center;
    color: var(--white);

    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.button:hover {
    box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}

.button:active {
    box-shadow: none;
}

.icon {
    margin-right: 18px;
    margin-top: 6px;
}

@media screen and (min-width: 768px) {
    .flex {
        flex-direction: row;
        gap: 12px;
    }

    .button {
        height: 44px;
    }

    .icon {
        margin-right: 14px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 1440px) {

    .flex {
        gap: 43px;
    }

    .progressBarConteiner {
        width: 360px;
        gap: 8px;
    }

    .button {
        width: 190px;
    }

    .icon {
        margin: 10px;
    }
}