.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    pointer-events: none;
}

.backdropActive {
    opacity: 1;
    pointer-events: all;
}

.modalContent {
    top: 25%;
    left: 25%;
    border-radius: 10px;
    background-color: #fff;
    z-index: 1000;
    position: absolute;
    min-height: 100px;
    transform: scale(0.3);
    transition: 0.4s all;;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.modalContentActive {
    transform: scale(1);
}


