.buttonClose {
    border: none;
    background-color: inherit;
    position: absolute;
    right: 24px;
    top: 36px;
} 

.title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11;
    margin-bottom: 16px;
}

.wrappGender {
    border: none;
    display: inline-flex;
    gap: 24px;
    margin-bottom: 16px;
    padding: 0;
}

.label {
    font-size: 16px;
    line-height: 1.25;
}

.genderInput {
    margin-right: 8px;
}

.userInfo {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.input {
    border: 1px solid var(--air-force-blue);
    border-radius: 6px;
    padding: 12px 10px;
    
}

input::placeholder {
    color: var(--blue)
}

.result {
    padding: 0;
    border: none;
    display: inline-flex;
    align-items: center;
    margin-bottom: 24px;
}

.resultText {
    flex-basis: 190px;
}

.resultColor {
    color: var(--blue);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
}

.waterRateWrapp {
    padding: 0;
    border: none;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.waterRate { 
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11;
}

.button {
    border-radius: 10px;
    padding: 8px 30px;
    box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
    background: var(--blue);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    cursor: pointer;
    width: 256px;
    color: var(--white);
    font-family: inherit;
    display: block;
    margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .button {
        float: right;
        padding: 10px 30px;
        width: 160px;
    }
  }

.form {

}