.sectionHome {
    padding: 24px 0;
}

@media screen and (min-width: 1440px) {
    .sectionHome {
        padding: 20px 0;;
    }
}

.direction {
    margin-bottom: 40px;
}

@media screen and (min-width: 1440px) {
    .direction {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 0 16px;
    }
    .containerHome {
        display: flex;
        justify-content: space-between;
    }

}




.waterRateContainer{
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
        padding: 32px 24px;
        width: 592px;
        height: 680px;
        box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.3);
            background: #ecf2ff;
}