.containerHome {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 20px;
}
.waterRateContainer{
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    padding: 24px 8px;
    width: 280px;
    height: 680px;
    box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.3);
    background: #ecf2ff;
    justify-content: center;
}
@media screen and (min-width: 768px){
.waterRateContainer{
    padding: 32px 24px;
    width: 704px;
    height: 688px;}
}
@media only screen and (min-width: 1440px){
    .containerHome{       
        flex-direction: row;
        justify-content: space-between;
    }
   
 .waterRateContainer {
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    padding: 32px 24px;
    width: 592px;
    height: 680px;
    box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.3);
    background: #ecf2ff;
    }
}
