* {
  box-sizing: border-box;
}

@import '~modern-normalize/modern-normalize.css';

body {
  font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 100vh;
   
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  /* Font */
  --primary-font:"Roboto",
    sans-serif;
    /* Ð¡olors */
    /* primary */
    --white:#fff;
    --black:#2f2f2f;
    --blue:#407bff;
    /* secondary */
    --light-blue:#9ebbff;
    --very-light-blue:#ecf2ff;
    --air-force-blue:#d7e3ff;
    --orange:#ff9d43;
    --amaranth:#ef5050;
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Base style */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
  line-height: inherit;
}

.list {
  list-style: none;
}
figure {
  margin: 0;
}

.container {
  max-width: 428px;
  padding: 0 20px;
  margin: 0 auto;
}

.section{
  background-image: url(./images/mobile/background_main_mobile@1x.png), url(./images/mobile/background_main_mobile@2x.png);
    min-height: 100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}
.main{
    min-height: 100vh;
    width: 100%;
}
.signSection{
  background-image: url(./images/mobile/bottle_sign_in@1x.png), url(./images/mobile/bottle_sign_in@2x.png);
  min-height: 100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}
.signMain{
  background-image: url(./images/mobile/background_element_sign_in_mobile@1x.png), url(./images/mobile/background_element_sign_in_mobile@2x.png);
  min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
      background-size: 100%;
}

@media screen and (min-width: 768px) {
  .signSection{
    background-image: url(./images/tablet/bottle_sign_in_tablet@1x.png), url(./images/tablet/bottle_sign_in_tablet@2x.png);
      background-position: center bottom 150%;
      background-size: 100%;
  }
    .signMain{
      background-image: none;
    }
  .section{
    background-image: url(./images/tablet/background_main_page_tablet@1x.png), url(./images/tablet//background_main_page_tablet@2x.png);
  }
  .container {
    max-width: 768px;
      padding: 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
    .signSection{
      background-image: url(./images/desc/bottle_for_sign_in_desc@1x.png), url(./images/desc/bottle_for_sign_in_desc@2x.png);
  background-position: top right 116%;
  background-size: 60%;

     }
   .signMain{
    background-image: url(./images/desc/background_element_main_desc@1x.png), url(./images/desc/background_element_main_desc@2x.png);
     }


  .section {
      background-image: url(./images/desc/background_main_desc@1x.png), url(./images/desc/background_main_desc@2x.png);
    }
  
    .main {
      background-image: url(./images/desc/background_element_main_desc@1x.png), url(./images/desc/background_element_main_desc@2x.png);
    }
  .container {
    max-width: 1440px;
      padding: 0 18px;
  }
}
